<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <body>
        <div style="padding:20px">
          <div style="text-align:center">
            <h3>Polyhedron generation and rendering (WIP)</h3>
            <h4><b>Error:</b> <%= @error %>
          </div>
        </div>
    </body>
</html>
