<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <body>
    <div style="padding:0 40px">
      <div style="text-align:center">
        <h3>Three-dimensional shape generation and rendering</h3>
        <p align=center>
          <a href="https://pknipp.github.io/math/">Return</a> to the Math APIs page.
          <br/>
          creator:&nbsp;
          <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
              Peter Knipp
          </a>
          <br/>
          repo:&nbsp;
          <a href='https://github.com/pknipp/polyhedron'
          target='_blank' rel='noopener noreferrer'>
              https://github.com/pknipp/polyhedron
          </a>
        </p>
      </div>
      <div>
        <b>Overview:</b> This endpoint enables the user to generate and render a 3-dimensional structure that consists of <a href="https://en.wikipedia.org/wiki/Vertex_(geometry)">vertices</a> and <a href="https://en.wikipedia.org/wiki/Edge_(geometry)">edges</a>. The user may also rotate this structure in order to view from any perspective.
      </div>
      <br/>
      <div>
        <b>Instructions:</b> There are two different ways that the user can create a structure for rendering.  The first ("polyhedron") uses the <a href="https://en.wikipedia.org/wiki/Solution_of_triangles#Three_sides_given_(SSS)">side-side-side</a> method for solving triangles, whereas the second ("stick figure") simply uses Cartesian coordinates.  Examples for each may be copy-and-pasted from below.
        <ol>
          <li>
            <a href="https://en.wikipedia.org/wiki/Polyhedron">polyhedron</a>, ie any three dimensional shape consisting of faces that are <a href="https://en.wikipedia.org/wiki/Polygon">polygons</a> and edges that are straight <a href="https://en.wikipedia.org/wiki/Line_segment">line segments.</a>  (The easiest polyhedra to generate via this approach are <a href="https://en.wikipedia.org/wiki/Simplicial_polytope">simplicial polyhedron</a>, ie any 3-dimensional shape whose <a href="https://en.wikipedia.org/wiki/Face_(geometry)">faces</a> are triangular.)
            <br/>
            After <tt>...herokuapp.com</tt> above the user should type <tt>/edges/&lt;triangle&gt;/&lt;details&gt;</tt>, where the <tt>&lt;triangle&gt;</tt> path fragment describes the shape's foundational triangle, and the <tt>&lt;details&gt;</tt> path fragment describes each step in expanding this shape, as follows
            <ul>
              <li>
                <tt>&lt;triangle&gt;</tt>: This is a six-item comma-separated list that characterizes the first triangular face of the <a href="https://en.wikipedia.org/wiki/Polyhedron">polyhedron</a>.  The first three items are vertex names, and the last three are lengths of the edges connecting the 1st and 2nd vertices, the 2nd and 3rd vertices, and the 1st and 3rd vertices respectively.
              </li>
              <li>
                <tt>&lt;details&gt;</tt> (optional):  This is a comma-separated list of parenthesis-enclosed lists, each containing either seven, six, or two items, described below.
                <ul>
                  <li> seven:
                    <br/> This characterizes a tetrahedron that defines a vertex added to the existing polyhedron.  The list's first three items specify the names of existing polyhedron vertices (tetrahedron "base"), and the fourth names the vertex added here (tetrahedron "apex"). The last three items are the lengths of the three edges that connect the tetrahedron's base vertices with the apex.  Note that there are two such tetrahedra defined by these numbers.  The convention here is to take the tetrahedron such that the apex is <i>above</i> the triangle formed by the existing vertices when the existing ones are viewed clockwise.
                  </li>
                  <li> six:
                    <br/>
                    This increases by one the number of sides of an existing polygonal face.  The first three items are the names of three existing non-collinear vertices, and the fourth item is the name of a new vertex which is in the same plane as the former three.  The next two items are lengths to the new vertex, the first from the first vertex in the trio of existing ones and the second from the second.  (See "pyramid" example below for an instance of this.)
                  </li>
                  <li> two:
                    <br/>
                    This toggles on or off the rendering of any edge.  Each item in this is the name of an existing vertex.  (See below either the "pyramid" or "icosahedron" examples for instances of this.)
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            "stick figure":<br/>
            After <tt>...herokuapp.com</tt> above the user should type <tt>/points/&lt;vertices&gt;/&lt;edges&gt;</tt>, where the <tt>&lt;vertices&gt;</tt> path fragment describes the vertices of the shape, and the <tt>&lt;edges&gt;</tt> path fragment specifies which pairs of vertices should be connected by a line segment, as follows
            <ul>
              <li>
                <tt>&lt;vertices&gt;</tt>:
                <br/>
                This is a comma-separated list of five-item tuples,
                each describing a vertex.  For each tuple the first item is the vertex's key, the second (optional) item provides a human-readable label to use when rendering, and the last three are the vertex's <a href="https://en.wikipedia.org/wiki/Cartesian_coordinate_system">Cartesian</a> coordinates.
              </li>
              <li>
                <tt>&lt;edges&gt;</tt>:
                <br/>
                This is a comma-separated list of two-item tuples.  Each tuple contains the keys for each pair of vertices that should be connected by line segments.
              </li>
            </ul>
          </li>
        </ol>
        Notes:
        <br/> This will only return html (not json), even for the case of errors.
        <br/> Guidelines for urls:
        <ul>
          <li> The use of whitespace is allowed but discouraged because <tt>%20</tt> will replace it, making the url harder to read.</li>
          <li> Commas are prohibited except for separating elements in lists and tuples.</li>
          <li> Numbers may be represented in many different ways except that any decimal point should be represented by an asterisk rather than by a period owing to the fact that the latter has a special meaning in a url.</li>
        </ul>
      </div>
      <br/>
      <div>
        <b>Examples:</b>
        <ol>
          <li>
            <b>polyhedra:</b>
            <ul>
              <li>
                <a href="https://en.wikipedia.org/wiki/Tetrahedron">tetrahedron</a>:
                <br/>
                <tt>.../edges/A,B,C,1,1,1/(A,B,C,D,1,1,1)</tt>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Pyramid_(geometry)">pyramid:</a>
                <br/>
                <tt>.../edges/A,B,C,1,1,1*414/(C,A,B,D,1,1),(A,B,C,E,1,1,1),(D,E)</tt>
              </li>
              <li>
                <a href="https://en.wikipedia.org/wiki/Icosahedron">icosahedron:</a>
                <br/>
                <tt>.../edges/A,B,C,1,1,1/(A,B,C,D,1,1,1*618),(C,D),(B,C,A,E,1,1,1*618),(A,E),(C,A,B,F,1,1,1*618),(B,F),(D,B,A,G,1,1,1*618),(A,G),(G,E),(E,C,B,H,1,1,1*618),(B,H),(H,F),(F,A,C,I,1,1,1*618),(C,I),(I,D),(D,G,B,J,1,1,1*618),(B,J),(J,I),(G,E,B,K,1,1,1*618),(B,K),(J,K),(H,K),(H,F,C,L,1,1,1*618),(C,L),(K,L),(I,L),(J,L)</tt>
              </li>
              <li>
                <a href="https://earthsky.org/human-world/nautilus-shell-fibonacci-logarithmic-spiral-golden-spiral/">Nautilus</a> shell whose outline coincides with <a href="https://en.wikipedia.org/wiki/Spiral_of_Theodorus">spiral of Theodorus:</a>
                <br/>
                <tt>.../edges/A,C,B,1,1,1*414/(A,C,B,D,1*414,1,1*414),(A,D,B,E,1*732,1,1*732),(A,E,B,F,2,1,2),(A,F,B,G,2*24,1,2*24),(A,G,B,H,2*45,1,2*45),(A,H,B,I,2*65,1,2*65),(A,I,B,J,2*83,1,2*83),(A,J,B,K,3,1,3),(A,K,B,L,3*16,1,3*16),(A,L,B,M,3*32,1,3*32),(A,M,B,N,3*46,1,3*46),(A,N,B,O,3*61,1,3*61),(A,O,B,P,3*74,1,3*74),(A,P,B,Q,3*87,1,3*87),(A,Q,B,R,4,1,4),(A,R,B,S,4*12,1,4*12),(A,S,B,T,4*24,1,4*24)</tt>
                <br/>
                Note that the non-unit numbers in this url are the square roots of the integers from 2 to 17, inclusive.
              </li>
          </ul>
          <li>
            <b>stick figure:</b> (<a href="https://en.wikipedia.org/wiki/Methane">methane</a>)
            <br/>
            <tt>.../points/(C,0,0,0),(H1,H,1,1,1),(H2,H,-1,-1,1),(H3,H,-1,1,-1),(H4,H,1,-1,-1)/(C,H1),(C,H2),(C,H3),(C,H4)</tt>
          </li>
      </div>
    </div>
  </body>
</html>
