<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <body>
    <div style="padding:0 | 40px">
      <div style="text-align:center">
        <h3>Three-dimensional shape generation and rendering</h3>
      </div>
      <div>
        <b>Overview:</b> This endpoint enables the user to generate and render a 3-dimensional structure that consists of <a href="https://en.wikipedia.org/wiki/Vertex_(geometry)">vertices</a> and <a href="https://en.wikipedia.org/wiki/Edge_(geometry)">edges</a>. The user may also rotate this structure in order to view from any perspective.
      </div>
      <br/>
      <div>
        <b>Instructions:</b> There are two different ways that the user can create a structure for rendering.  A example for each may be copy-and-pasted from below.
        <ol>
          <li>
            <a href="https://en.wikipedia.org/wiki/Simplicial_polytope">simplicial polyhedron</a>, ie any 3-dimensional shape whose <a href="https://en.wikipedia.org/wiki/Face_(geometry)">faces</a> are triangular:<br/>
            After <tt>...herokuapp.com</tt> above the user should type <tt>/edges/&lt;triangle&gt;/&lt;tetrahedra&gt;</tt>, where the <tt>&lt;triangle&gt;</tt> path fragment describes the first triangle, and the <tt>&lt;tetrahedra&gt;</tt> path fragment describes the <a href="https://en.wikipedia.org/wiki/Tetrahedron">tetrahedra</a> that are built atop that triangle, as follows
            <ul>
              <li>
                <b>First fragment:</b> This is a six-item comma-separated list that characterizes the first triangular face of the <a href="https://en.wikipedia.org/wiki/Polyhedron">polyhedron</a>.  The first three items are vertex names, and the last three are lengths of the edges connecting the 1st and 2nd vertices, the 2nd and 3rd vertices, and the 1st and 3rd vertices respectively.
              </li>
              <li>
                <b>Second fragment (optional):</b>  This is a comma-separated list of seven-element tuples, each of which characterizes a tetrahedron that defines a vertex added to this polyhedron.  Each of the tuple's first three items specifies the name an existing vertex of the polyhedron, and the fourth names the vertex added here. The last three items are the lengths of the three edges that connect the existing vertices with the added vertex.  Note that there are two such tetrahedra defined by these numbers.  The convention here is to take the tetrahedron such that the added vertex is <i>above</i> the triangle formed by the existing vertices, when the existing ones are viewed clockwise.
              </li>
            </ul>
          </li>
          <li>
            collection of vertices and edges (aka "stick figure"):<br/>
            After <tt>...herokuapp.com</tt> above the user should type <tt>/points/&lt;vertices&gt;/&lt;edges&gt;</tt>, where the <tt>&lt;vertices&gt;</tt> path fragment describes the vertices of the shape, and the <tt>&lt;edges&gt;</tt> path fragment specifies which pairs of vertices should be connected by a line segment, as follows
            <ul>
              <li>
                <b>First fragment:</b> This is a comma-separated list of five-item tuples,
                each describing a vertex.  For each tuple the first item is the vertex's key, the second (optional) item provides a human-readable label to use when rendering, and the last three are the vertex's <a href="https://en.wikipedia.org/wiki/Cartesian_coordinate_system">Cartesian</a> coordinates.
              </li>
              <li>
                <b>Second fragment:</b> This is a comma-separated list of two-item tuples.  Each tuple contains the keys for each pair of vertices that should be connected by line segments.
              </li>
            </ul>
          </li>
        </ol>
        Notes:
        <br/> This will only return html (not json), even for the case of errors.
        <br/> Guidelines for urls:
        <ul>
          <li> The use of whitespace is allowed but discouraged.</li>
          <li> Commas are prohibited except for separating elements in lists and tuples.</li>
          <li> Numbers may be represented in many different ways except that any decimal point should be represented by an asterisk rather than by a period owing to the fact that the latter has a special meaning in a url.</li>
        </ul>
      </div>
      <br/>
      <div>
        <b>Examples:</b>
        <ol>
          <li>
            <b>polyhedron:</b> Type <tt>...heroku.com/edges/A,C,B,1,1,1*414/(A,C,B,D,1*414,1,1*414),(A,D,B,E,1*732,1,1*732),(A,E,B,F,2,1,2),(A,F,B,G,2*24,1,2*24),(A,G,B,H,2*45,1,2*45),(A,H,B,I,2*65,1,2*65),(A,I,B,J,2*83,1,2*83),(A,J,B,K,3,1,3),(A,K,B,L,3*16,1,3*16),(A,L,B,M,3*32,1,3*32),(A,M,B,N,3*46,1,3*46),(A,N,B,O,3*61,1,3*61),(A,O,B,P,3*74,1,3*74),(A,P,B,Q,3*87,1,3*87),(A,Q,B,R,4,1,4),(A,R,B,S,4*12,1,4*12),(A,S,B,T,4*24,1,4*24)</tt> generates the shell of a 16-chambered <a href="https://earthsky.org/human-world/nautilus-shell-fibonacci-logarithmic-spiral-golden-spiral/">Nautilus</a> whose outline coincides with the <a href="https://en.wikipedia.org/wiki/Spiral_of_Theodorus">spiral of Theodorus</a>.  (The nature of this shape will become more apparent when you drag it in order to gain a sideways perspective.)  Note that the non-1 numbers in this url are the square roots of the integers from 2 to 17, inclusive.
          </li>
          <li>
            <b>stick figure:</b> Type <tt>...heroku.com/points/(C,0,0,0),(H1,H,1,1,1),(H2,H,-1,-1,1),(H3,H,-1,1,-1),(H4,H,1,-1,-1)/(C,H1),(C,H2),(C,H3),(C,H4)</tt> in order to get a molecular model for <a href="https://en.wikipedia.org/wiki/Methane">methane</a> (CH<sub>4</sub>).
          </li>
      </div>
    </div>
  </body>
</html>
