<div padding="10">
  <div>
    triangle = <%= @triangle %>
  </div>
  <div>
    tetrahedron = <%= @tetrahedron %>
  </div>
  <div>TO DO:
    <ul>
      <li>improve handling of perspective</li>
      <li> allow <tt>dx</tt> to depend upon length of vertex string, to ensure centeredness when rotating</li>
      <li>parse url for ...</li>
      <ul>
        <li> array w/1 element: 1 point (labeled) in svg</li>
        <li> array w/1 element: 2 points, separated by 1 distance (centered and scaled)</li>
        <li> array w/1 element: 3 points, separated by 3 distances (triangle centered and scaled)</li>
        <li> array w/1+1 elements: 2nd having 4 points (3 old + 1 new) and three distances, thereby rendering a polyhedron</li>
        <li> array w/1+<i>n</i> elements: as continuation of above</li>
        <li> error handling for above</li>
      </ul>
    </ul>
  </div>
</div>
